.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
Package.resolved

# Fastlane and test artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Simulator captures
*.trace
*.diag
